button {
  width: 100%;
}

h1 {
  font-weight: bold;
  text-align: center;
}

#output {
  display: none;
  background-color: gold;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
}
